
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FixFast</title>
    <link rel="stylesheet" href="../static/css/pruebaaa.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <nav>
            
            <span class="logo"><h5  style="color: white;">FixFast</h5></span>
            <ul>
                <li style="color: white;">INICIOS</li>
                <li style="color: white;">TICKETS PENDIENTES</li>
                <li style="color: white;">TICKETS CULMIMADOS</li>
              
            </ul>

        </nav>
        <header>
            <div>
                <h2>Crear Ticket</h2>
                <form id="ticketForm">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea id="description" name="description" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="priority">Priority:</label>
                        <select id="priority" name="priority" required>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                    <button type="submit">Submit</button>
        </form>
    </div>
    <script src="pruebadeti.js"></script>
        </header>
        <div class="icons">
            <i class='bx bxl-invision'></i>
            <i class='bx bxl-dropbox' ></i>
            <i class='bx bxl-linkedin' ></i>
        </div>
    </div>
</body>
</html>